*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}


// Header

#Header{
    background-color: #132031;
    .left{
        text-align: center;
        font-size: 13px;
        i{
            color: #6dd3f3;
            span{
                font-weight: 500;
                padding-left: 6px;
                color: #fff;
            }
        }
        .left-box{
            padding: 15px 0;
            border-left: .5px solid #6dd3f3;
            border-right: .5px solid #6dd3f3;
            span{
                a{
                    text-decoration: none;
                    color: #6dd3f3;
                }
                &:hover{
                    a{
                        color: #fff;
                    }
                }
            }
        }
    }
    .right{
        text-align: end;
        i{
            color: #fff;
            font-size: 15px;
            transition: 0.4s;
            margin: 0 3px;
            &:hover{
                color: #6dd3f3;
            }
        }
        a{
            padding: 13px 20px;
            text-decoration: none;
            color: #fcfcfc;
            background-color: #06b3e5;
            border-radius: 30px;
            font-size: 11px;
            margin-left: 15px;
            transition: 0.4s;
            &:hover{
                background-color: #fcfcfc;
                color: #06b3e5;
            }
        }
    }
}

// Header2

#Header2{
    padding: 40px 0;
    .right{
        text-align: right;
        .dropdown{
            display: inline-block;
            position: relative;
            margin: 0 15px;
            .dropbtn{
                cursor: pointer;
                font-weight: 700;
                font-size: 15px;
                &:hover{
                    color: #afb1bb;
                }
            }
            &:hover{
                .dp-content{
                    opacity: 1;
                }
            }
            .second {
                position: absolute;
                top: 305%;
                left: -50%;
                min-width: 260px;
                padding: 15px;
                opacity: 0;
                transition: .4s;
                background-color: #f7f7f7;
                text-align: left;
                line-height: 35px;
                a{
                    text-decoration: none;
                    display: block;
                    color: #383b46;
                    &:hover{
                        color: #425cbb;
                    }
                }
            }
            .third{
                position: absolute;
                top: 305%;
                left: -35rem;
                min-width: 50rem;
                padding: 15px;
                opacity: 0;
                transition: .4s;
                background-color: #f7f7f7;
                text-align: left;
                line-height: 45px;
                a{
                    text-decoration: none;
                    display: block;
                    color: #383b46;
                    &:hover{
                        color: #425cbb;
                    }
                }
            }
            .fourth{
                position: absolute;
                top: 305%;
                left: -42rem;
                min-width: 48rem;
                padding: 15px;
                opacity: 0;
                transition: .4s;
                background-color: #f7f7f7;
                text-align: left;
                line-height: 45px;
                display: flex;
                span{
                    color: #425cbb;
                    font-size: 16px;
                    font-weight: 700;
                }
                a{
                    text-decoration: none;
                    display: block;
                    color: #383b46;
                    &:hover{
                        color: #425cbb;
                    }
                }
                
            }
        }
    }
}

// Slider

#Slider{
    background-image: url(https://doctor-carter.seaside-themes.com/wp-content/uploads/revslider/1111/bg-01.jpg);
    background-position: center;
    background-size: cover;
    padding: 12rem 0;
    .slider-text{
        h4{
            font-size: 20px;
            color: #fff;
        }
        h2{
            font-size: 60px;
            color: #fff;
            margin-bottom: revert;
        }
        a{
            padding: 14px 20px;
            color: #fff;
            font-size: 14px;
            border: 2px solid #06b3e5;
            border-radius:30px ;
            background-color: #06b3e5;
            text-decoration: none;
            line-height: 26px;
            transition: .4s;
            &:hover{
                background-color: transparent;
               border: 2px solid #fff; 
            }
        }
    }
}

#MediaHeader{
    background-color: #132031;
    text-align: center;
    display: none;
    margin-top: 3rem ;
    padding: 7px 0;
    i{
        color: #fff;
    }
}

#MediaNavbar{
    padding: 20px 0;
    text-align: center;
    display: none;
    .icons{
        justify-content: center;
        margin-top: 25px;
        i{
            margin: 0 10px;
        }
    }
}


#SliderAlt{
    margin-top: -4rem;
    .box{
        background-color: #2382c4;
        padding: 30px 50px;
        h3{
            font-size: 24px;
            color: #fff;
            display: inline-block;
            margin: 10px;
            padding-bottom: 30px;
        }
        p{
            font-size: 15px;
            color: #fff;
        }
        a{
            text-decoration: none;
            color: #fff;
            background-color: #398fca;
            border-radius: 30px;
            padding: 5px 20px;
            font-size: 12px;
            transition: 0.4s;
            &:hover{
                border: 2px solid #fff;
            }
        }
    }
    .box:nth-child(1){
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .box:nth-child(2){
        background-color: #2b56b8;
    }
    .box:nth-child(3){
        background-color: #162b62;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}

//Categories

#Categories{
    margin: 5rem 0;
    .ct-text{
        text-align: center;
        h6{
            color: #6dd3f3;
        }
    }
    .box{
        text-align: center;
        padding: 15px 0;
        position: relative;
        &:hover{
            &::before{
                width: 100%;
            }
            &::after{
                width: 100%;
            }
            a{
                color: #383b46;
            }
        }
        &::before{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 2px;
            background-color: #2b56b8;
            transition: 0.7s;
        }
        &::after{
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            width: 0;
            height: 2px;
            background-color: #2b56b8;
            transition: 0.7s;
        }
        a{
            margin: 0;
            text-decoration: none;
            color: #a2a5ad;
            font-size: 20px;
        }
    }
    .box:nth-child(1){
        &::after{
            width: 100%;
        }
        &::before{
            width: 100%;
        }
        a{
            color: #383b46;
        }
    }
    .ct-info{
        a{
            text-decoration: none;
            border: 2px solid #2382c4;
            background-color: #2382c4;
            padding: 16px 35px;
            border-radius: 30px;
            font-size: 17px;
            transition: 0.4s;
            color: #fff;
            &:hover{
                background-color: transparent;
                color: #2382c4;
            }
        }
    }
}



// Doctors

#Doctors{
    background-image: url(https://doctor-carter.seaside-themes.com/wp-content/uploads/2018/05/Medical-team.png);
    background-position: bottom center;
    background-size: cover;
    padding: 10rem 0;
    .dr-text{
        h2{
            font-size: 34px;
            font-weight: 400;
            color: #0a0a0a;
        }
        h6{
            color: #06b3e5;
            font-size: 15px;
            margin-bottom: 60px;
        }
        h5{
            font-size: 23px;
            line-height: 34px;
            color: #0a0a0a;
            font-weight: 100;
            margin-bottom: 35px;
        }
        img{
            margin-left: 8rem;
        }
    }
}

//Departament

#Departament{
    background-image: url(https://doctor-carter.seaside-themes.com/wp-content/uploads/2018/05/3.jpg);
    background-position: center;
    background-size: cover;
    padding: 5rem 0;
    h2{
        font-size: 34px;
        font-weight: 400;
        color: #ffffff;
    }
    h6{
        color: #06b3e5;
        font-size: 15px;
    }
    .img-box{
        overflow: hidden;
        margin: 0 10px;
        cursor: pointer;
        border-radius: 6px;
        text-align:center ;
        &:hover{
            img{
                transform: scale(1.2);
            }
        }
        img{
            transition: 0.4s;
        }
        .text{
            a{
                text-decoration: none;
                color: #fff;
                font-weight: bold;
                font-size: 20px;
            }
        }
    }
}
//Counter
#Counter{
    background-color: #f2f2f2;
    padding: 3rem 0;
    .ct-box{
        text-align: center;
        h4{
            color: #425cbb;
            font-size: 40px;
        }
        p{
            font-size: 18px;
            color: #292b36;
        }
    }
}

//Background
#Background{
    background-image: url(https://doctor-carter.seaside-themes.com/wp-content/uploads/2018/05/2-paralax.jpg);
    background-position: center;
    background-size: cover;
    padding: 16rem 0;
    background-attachment: fixed;
}

//Patient
#Patient{
    background-image: url(https://doctor-carter.seaside-themes.com/wp-content/uploads/2018/05/4.jpg);
    background-position: center;
    background-size: cover;
    padding: 6rem;
    .text-all{
        text-align: center;
        h6{
            color: #06b3e5;
            font-size: 15px;
            line-height: 20px;
            padding-bottom: 3rem;
        }
    }
    .left{
        justify-content: center;
        img{
            border-radius: 100%;
        }
    }
    .right{
        p{
            font-size: 24px;
            font-weight: 400;
            line-height: 30px;
            color: #fff;
        }
        h5{
            color: #fff;
            padding-top: 25px;
        }
        h6{
            color:  #06b3e5;
        }
    }
}

//Workes

#Workes{
    .text{
        text-align: center;
        margin-top: 80px;
        h2{
            font-size: 34px;
        }
        h6{
            color: #06b3e5;
            font-size: 15px;
        }
    }
    .box{
        text-align: center;
        margin: 50px 20px;
        .img-box{
            margin-bottom: 20px;
            position: relative;
            &:hover{
                .overlay{
                opacity: 0.85;
                }
                .sosial{
                    opacity: 1;
                    top: 50%;
                }
            }
            .overlay{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #adadad;
                opacity: 0;
                border-radius: 100%;
                transition: 0.4s;
            }
            .sosial{
                position: absolute;
                top: 50%;
                z-index: 999;
                left: 50%;
                opacity: 0;
                transition: .4s;
                transform: translate(-50%,-50%);
                i{
                    color: #fff;
                    margin: 0 7px;
                    cursor: pointer;
                }
            }
            img{
                border-radius: 100%;
                width: 100%;
            }
        }
        a{
            text-decoration: none;
            color: #425cbb;
            font-size: 24px;
            &:hover{
                 color: #afb1bb;
            }
        }
        p{
            color: #383b46;
            font-size: 15px;
            line-height: 24px;
        }
        h6{
            font-size: 16px;
            margin-top: 8px;
            margin-bottom: 30px;
        }
    }
    .button{
        text-align: center;
        a{
            font-size: 12px;
            line-height: 28px;
            background-color: #abaebb;
            color: #fcfcfc;
            border-color: #abaebb;
            padding: 10px 22px;
            border-radius: 30px;
            text-decoration: none;
            font-weight: 500;
            &:hover{
                border: 2px solid  #abaebb;
                background-color: transparent;
                color: #abaebb;
            }
        }
    }
}

//Select
#Select{
    .left{
        padding: 0 30px;
        position: relative;
        .img-text{
            position: absolute;
            top: 55%;
            left: 15%;
            right: 15%;
            h2{
                font-size: 20px;
                line-height: 28px;
                color: #fff;
                margin-bottom: 15px;
            }
            a{
                text-decoration: none;
                border-radius: 30px;
                font-size: 13px;
                line-height: 30px;
                padding: 9px 20px;
                background-color: rgba(255,255,255,0.15);
                color: #ffffff;
                border-color: rgba(255,255,255,0.0);
                &:hover{
                    border:2px solid #fff;
                }
           }
        }
        img{
            width: 100%;
            border-radius: 7px;
        }
    }
    .middle{
        background-color: #162b62;
        border-radius: 7px;
        padding: 40px;
        h2{
            color: #fff;
            font-size: 27px;
            font-weight: 400;
            line-height: 38px;
        }
        select{
            padding: 13px 40px;
            border-radius: 30px;
            margin-top: 10px;
        }
        input{
            padding: 13px 34px;
            border-radius: 30px;
            margin-top: 10px;
        }
        input[type="date"]{
            padding: 13px 52px;
        }
        .button{
            text-align: center;
            margin-top: 35px;
            a{
                background-color: #425cbb;
                color: #fff;
                text-decoration: none;
                padding: 14px 178px;
                border-radius: 30px;
                transition: 0.4s;
                &:hover{
                    background-color: transparent;
                    color: #425cbb;
                    border: 2px solid #425cbb;
                }
            }
        }
    }
    .right{
        h2{
            color: #292b36;
            font-size: 27px;
            line-height: 38px;
            font-weight: 400;
        }
        h5{
            a{
                text-decoration: none;
                color: #425cbb;
                font-size: 17px;
                font-weight: 400;
                &:hover{
                    color:  #06b3e5;
                }
            }
        }
    }
}

//Subscribe
#Subscribe{
    background-image: url(https://doctor-carter.seaside-themes.com/wp-content/uploads/2018/05/5.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5rem;
    text-align: center;
    margin-top: 2rem;
    .sub-text{
        h2,p{
            color: #fff;
        }
    }
}

//Footer1
#Footer1{
    background-color: #162b62;
    padding: 3rem;
    .ft-text{
        text-align: center;
        p{
            color: #fff;
            font-size: 20px;
            span{
                color: #06b3e5;
            }
        }
    }
}

//Footer2
#Footer2{
    background-color: #132031;
    padding: 4rem;
    border-top: 2px solid ;
    .ft2-text{
        position: relative;
        h3{
            color: #fff;
            font-size: 22px;
            margin-bottom: 44px;
        }
        p{
            color: #778598;
            font-size: 15px;
        }
        a{
            color: #778598;
            text-decoration: none;
            font-size: 15px;
            &:hover{
                color: #06b3e5;
            }
        }
        i{
            position: absolute;
            left: -17px;
            font-size: 16px;
            color: #06b3e5;
        }
    }
}


//Footer
#Footer{
    background-color: #132031;
    border-top: 1px solid;
    padding: 1rem;
    .left{
        span{
            font-size: 15px;
            color: #778598;
            a{
                text-decoration: none;
                color: #778598 ;
                &:hover{
                    color: #06b3e5;
                }
            }
        }
    }
    .right{
            ul{
                list-style: none;
                display: flex;
                justify-content: flex-end;
                li{
                    a{
                        text-decoration: none;
                        color: #778598 ;
                        font-size: 14px;
                        margin: 10px;
                        &:hover{
                            color: #06b3e5;
                        }
                    }
                }
            }
    }
}




// MEDIA

@media (max-width: 576px) {
    .container-sm, .container {
      max-width: 540px;
    }
    #Header{
        display: none;
    }
    #Mediaheader{
        display: block;
    }
    #Header2{
        display: none;
    }
    #MediaNavbar{
        display: block;
    }
    #Slider{
        .slider-text{
            h2{
                font-size: 40px;
            }
        }
    }
    #Patient{
        text-align: center;
        .right{
            p{
                font-size: 20px;
                padding-top: 30px;
            }
        }
    }
    #Select{
        .middle{
            .button{
                a{
                    padding: 14px 52px;
                }
            }
        }
    }
}